body{
    color: white;
}
.back {
    /* width: 100%;
    position: absolute;
    top: 0;
    bottom: 0; */
    /* background-color:#fff; */

    /* background-image:url("../images/minsu.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
    padding: 0 15px;
    width: 100%;
    height: 100vh;
    background: url(../images/bg2.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.back:before {
    content: "";
    background: rgba(8, 8, 8, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
.div-center {
    width: 350px;
    height: 350px;
    /* background-color: rgba(255, 255, 255); */
    position: absolute;
    color:white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    /* border-bottom: 2px solid #ccc; */
    display: table;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    border-radius: 10px;

}
div.content {
    display: table-cell;
    vertical-align: middle;
}

/* for link decoration */
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color:white;
}
a:active {
    text-decoration: underline;
}

img{
    border-radius: 50px;
}
/* end for link decoration */

/* for email verification loading */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* end for email verification loading */